<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="../../styles/dictionary.css">
</head>

<body>
    <div class="body">

        <div class="mode">
            <label class="toggle" for="dark-mode-btn">
                <div class="toggle-track">
                    <input type="checkbox" class="toggle-checkbox" id="dark-mode-btn" />
                    <span class="toggle-thumb"></span>
                    <img src="../../assets/sun.png" alt="" />
                    <img src="../../assets/moon.png" alt="" />
                </div>
            </label>
        </div>

        <audio id="sound"></audio>
        <div class="container">
            <div class="search-box">
                <input type="text" placeholder="Type the word here.." id="inp-word" />
                <button id="search-btn">Search</button>
            </div>
            <div class="result" id="result"></div>
        </div>
        <div class="div">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
        <div class="cat" id="cat">
            <div id="more"></div>
        </div>
    </div>

</body>
<script src="../../scripts/dictionary.js"></script>
<script>
    const darkModeCheckbox = document.getElementById("dark-mode-btn");

    darkModeCheckbox.addEventListener("change", () => {
        document.body.classList.toggle("dark");
        document.body.style.transitionDuration= '1s'
    });
</script>

</html>