<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="../../styles/dictionary.css">
    <link rel="stylesheet" href="../../styles/sidebar.css">
    <script src="https://kit.fontawesome.com/1603847c36.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="navio">
        <div class="drop">
            <button id="dd" class="cop" onclick="poppa()"><i class="fas fa-bars"></i></button>
            <div id="content" class="content">
                <div class="btns">
                    <button id="ee" class="cop" onclick="exit()"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="water">
                    <img class="sav berlin" alt="">
                </div>
                <p class="net set">Compile Codes</p>
                <p class="net set">Remove Background</p>
                <p class="net">Dictionary</p>
                <p class="net get">Draw & Paint</p>
                <p>Generate QR-Code</p>
                <p>Scan QR-Code</p>
                <p>Translate languages</p>
                <p>Edit an Image</p>
            </div>
        </div>
        <div class="logo">
            <img id="change-img" class="fes" alt="">
        </div>
    </div>

    <div class="body">

        <div class="mode">
            <label class="toggle" for="dark-mode-btn">
                <div class="toggle-track">
                    <input type="checkbox" class="toggle-checkbox" id="dark-mode-btn" />
                    <span class="toggle-thumb"></span>
                    <img src="../../assets/sun.png" alt="" />
                    <img src="../../assets/moon.png" alt="" />
                </div>
            </label>
        </div>

        <audio id="sound"></audio>
        <div class="container">
            <div class="search-box">
                <input type="text" placeholder="Type the word here.." id="inp-word" />
                <button id="search-btn">Search</button>
            </div>
            <div class="result" id="result"></div>
        </div>
        <div class="div">
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
        <div class="cat" id="cat">
            <div id="more"></div>
        </div>
    </div>

</body>
<script src="../../scripts/dictionary.js"></script>
<script>
    const darkModeCheckbox = document.getElementById("dark-mode-btn");

    darkModeCheckbox.addEventListener("change", () => {
        document.body.classList.toggle("dark");
        document.body.style.transitionDuration = '1s'
    });
    function poppa() {
        content.style.left = "0"
        content.style.transition = "1s"
    }
    function exit() {
        content.style.left = "-500px"
        content.style.transition = "1s"
    }
</script>

</html>