@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,800&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Landing Page */
body{
    background-color: black;
}
.nav img{
    width: 55px;
}
.nav{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 95%;
}
.navs2{
    width: 100%;
    display: flex;
    height: 80px;
    top: 0;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999999999999;
    position: fixed;
    justify-content: center;
}
.hidden{
    z-index: -9999;
}

.content2{
    display: flex;
    width: 60%;
    padding: 30px;
    color: white;
    justify-content:space-between;
}
.net{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s linear;
}
.net:hover{
    color: #5046e5;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
.content3, .content4{
    display: flex;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}
.cado{
    width: 500px;
    z-index: -1;
}
.login{
    border-radius: 5px;
    background: #18181b;
    color: white;
    width: 115px;
    font-family: 'Ubuntu', sans-serif;
    padding: 8px 0;
    text-align: center;
    transition: all 0.1s linear;
    border: 1px solid gray;
}
.login:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.signup, .started{
    background-color: #5046e5;
    border-radius: 5px;
    color: white;
    width: 115px;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 0;
    text-align: center;
    transition: all 0.1s linear;
    border: 0   ;
}
.signup:hover, .started:hover{
    background-color: #2b31cb;
}
.gradient{
    width: 530px;
    position: absolute;
    top: 8%;
    z-index: -2;
    left: 30%;
}
.xx{
    z-index: -60;
}
.drop{
    display: none;
}
.drop-btn, .cancel{
    background: none;
    border: 0;
    outline: none;

    color: white;
    font-size: 30px;
}
.run{
    font-size: 65px;
    text-align: center;
    font-weight: 700;
    line-height: 68px;
    color: #e6e7ea;
    font-family: "Montserrat", sans-serif;
}
.cancel{
    font-size: 35px;
    margin-top: 20px;
}
.can{
    text-align: right;
}
.down{
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    backdrop-filter: blur(100px);
    top: -1000px;
    background: rgba(0, 0, 0, 0.7);
}


.real a{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin: 30px 0;
    transition: all 0.1s linear;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: white;

}
.real a:hover{
    color: #e996ae;

}
.main{
    margin-top: 90px;
    padding: 10px;
    z-index: 10;
}
.care{
    margin-top: 110px;
    text-align: center;
}
.case{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    color: #e6e7eaea;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}
.rocket{
    font-size: 130px;
    position: absolute;
    animation-name: rocket;
    animation-timing-function: linear;
    top: 200px;
    left: 40px;
    z-index: -1;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    background: none;
    width: fit-content;
    height: fit-content;
    animation-duration: 1s;
    animation-play-state:running;
    animation-fill-mode: both;
}
.started{
    width: 120px;
    /* border-radius: 10px; */
    height: 50px;
    margin-top: 20px;
}
.features{
    margin-top: 200px;
}
.fea{
    color: #e6e7eaea;
    font-size: 55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.compiler{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 51px;
}
.shift{
    margin-top: 100px;
}
.comment{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.699);
    line-height: 40px;
}
.width{
    width: 500px;
}
.add, .add2, .add3, .add4, .add5{
    opacity: 0;
    transform: scale(0.1);
    z-index: -5;
    transition: all 1s ease-in-out;
}
.trans, .trans1{
    opacity: 0;
    transform: translateX(-1000px);
    z-index: -5;
    transition: all 1s ease-in-out;
}
.trans_active{
    opacity: 1;
    transform: translateX(0);
}
.active{
    opacity: 1;
    transform: scale(1);
}
.ddx{
    width: 300px;
}
.translate{
    animation-name: translate;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.delay1{
    animation-delay: 0.3s;
}
.delay2{
    animation-delay: 0.5s;
}
.delay3{
    animation-delay: 0.8s;
}
.fads{
    color: white;
    text-decoration: none;
}
.fads:hover{
    color: white;
    text-decoration: none;
}
.more{
    width: 100%;
    margin-top: 200px;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    z-index: -8;
    justify-content: space-evenly;
}
.mini{
    background-color: #5146e570;
    width: 350px;
    border-radius: 10px;
    height: 300px;
    z-index: 8;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
}

.bluff{
    border: 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #5046e5;
    background: transparent;
    color: #5046e5;   
    font-size: 16px;
    z-index: 1;
    position: relative;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.bluff::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    transition: all 0.13s linear;
    background-color: #5046e5;
    height: 100%;
}
.bluff:hover::before{
    width: 100%;
}
.bluff:hover{
    color: white;
}
.mini h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
}
.small{
    font-size: 80px;
    line-height: 35px;
    color: white;
    padding: 5px 8px;
}
.gradient2{
    width: 100%;
    z-index: -2;
    position: absolute;
}
.sect{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40px;
    height: 100%;
    margin-top: 200px;
    border-top: 1px solid #e6e7ea3b;
}
.check{
    font-size: 40px;
    margin: 50px 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.color{
    color: #5046e5;
}
.no-fill {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.box{
    width: 350px;
    backdrop-filter: blur(50px);
    background-color: #18181b56;
    /* height: 280px; */
    border-radius: 10px;
    padding: 20px;
    margin: 0 5px;
    border: 1px solid #e6e7ea3b;
}
.sub{
    width: 300px;
}
.align{
    text-align: center;
}
.want{
    margin: 50px 0;
    width: 100%;
    z-index: 999999999999;
}
.fex{
    display: flex;
    align-items: center;
}
.box p{
    color: white;
   margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.testimonial_img{
    border-radius: 100%;
    width: 50px;
    padding: 0;
}
.come .name{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    font-size: 18px;
}
.come .job{
    font-weight: 300;
    line-height: 20px;
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.692);
}
.deed{
    margin-top: -25px;
}
.flow{
    display: flex;
    height: fit-content;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    justify-content: space-between;
}
.flow::-webkit-scrollbar{
    height: 6px;
    border-radius: 40px;
    
    /* background-color: navy; */
}
.flow::-webkit-scrollbar-thumb{
    width: 10px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);

    border-radius: 20px;
}
.footer{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 300px;
}















/* Key Frames of landing page */
@keyframes translate {
    from{
        transition: all 1s linear;
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
        transition: all 1s linear;
    }
}
@keyframes rocket {
    from{
    top: 200px;
        left: 40px;
    }
    to{
        top: 230px;
    }
}

/* Media Queries */
@media (max-width: 1115px) {
    .get{
        display: none;
    }
    .gradient{
        left: 23%;
    }
    .rocket{
        font-size: 120px;
    }
}
@media (max-width: 1024px) {
    .content2, .content3{
        display: none;
    }
    .drop{
        display: block;
    }
    .gradient{
        left: 22%;
    }
}
@media (max-width: 911px) {
    .biya{
        width: 400px;
    }
}
@media (max-width: 967px) {
    .rocket{
        display: none;
    }

}
@media (max-width: 810px) {
    .best{
        width: 400px;
    }
}
@media (max-width: 784px) {
    .gradient{
        left: 18%;
    }
    .biya{
        width: 300px;
    }
}
@media (max-width: 768px) {
    .run{
        font-size: 60px;
    }
}
@media (max-width: 755px) {
    .gradient{
        left: 13%;
    }
}
@media (max-width: 770px) {
    .odd{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .run{
        font-size: 55px;
    }
    .best{
        width: 500px;
    }
    .shift{
        flex-wrap: wrap;
        text-align: center;
    }
    .features{
        text-align: center;
        justify-items: center;
    }
    .just{
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .biya{
        width: 500px;
    }
}
@media (max-width: 698px) {
    .gradient{
        left: 8%;
    }
}
@media (max-width: 655px) {
    .gradient{
        left: 3%;
    }
}
@media (max-width: 620px) {
    .gradient{
        left: 0%;
        width: 100%;
    }
    .run{
        font-size: 55px;
        font-weight: 600;
    }
}
@media (max-width: 500px) {
    .run{
        font-size: 40px;
        line-height: 45px;
    }
}
@media (max-width: 550px) {
    .run{
        font-size: 45px;
        line-height: 50px;
    }
}
@media (max-width: 530px) {
    .biya{
        width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}
@media (max-width: 519px) {
    .cado, .width{
        width: 100%;
    }
    .xx{
        width: 100%;
    }
}
@media (max-width: 456px) {
    .run{
        font-size: 40px;
    }
}
@media (max-width: 350px) {
    .gradient{
        left: 0%;
        width: 300px;
    }
}